---
import { Image } from "astro:assets";
import SectionsContainer from "../atoms/SectionsContainer.astro";
import FeatureCard from "../molecules/FeatureCard.astro";
import SectionHeader from "../molecules/SectionHeader.astro";
import { featuresData2 } from "./featuresData";
import iPhoneMockup from "@/assets/iphone.svg";
import ScreenMockuo from "@/assets/screenMock.svg";
---
<SectionsContainer>
  <div class="">
    <SectionHeader
			heading="Funciones de vanguardia para el analisis de tus proyectos."
			subheading="Caracteristicas"
			text="El analisis de tus proyectos a solo unos clicks, no esperes mas y solicita tu demo, te guiamos en todo el proceso."
		/>
  </div>
  <div class="flex justify-center items-center pl-6">
    <Image src={iPhoneMockup} alt="iphone with dashbord img" class="md:hidden"/>
    <Image src={ScreenMockuo} alt="dashboard desktop" class="hidden md:block"/>
  </div>
  <div class="flex flex-col justify-center gap-10 md:flex-row md:flex-wrap md:gap-20 lg:gap-12">
    { featuresData2.map((data) => {
        return <FeatureCard
          iconName={data.iconName}
          featureTitle={data.featureTitle}
          text={data.text}
        />
      })
    }
  </div>
</SectionsContainer>
